bokeh==2.4.3
cycler
datashader
notebook<=6.5.5
jupyter_client
jupyter
jupyter_contrib_nbextensions
nbparameterise
pandas
holoviews
matplotlib
PyYAML
tqdm
PyCryptoDome
terminaltables
phoenixAES
ipywidgets
nbconvert>=5.6.1
